@import "common";
@import "colors";
@import "zocial";

@minWidth: 300px;
@maxWidthThumb: 500px;

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

html{
  height: 100%;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 12pt;
  line-height: 1.15em;
  color: @colorPrime;
  .linear-gradient(@colorBackground, 70%, @colorBackgroundFade, 100%);
  height: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

p, blockquote, body { margin: 0; padding: 0; }

a {
  color: @colorLink;
  text-decoration: none;
}

a:hover,
a:focus {
  color: @colorLinkHover;
  text-decoration: underline;
}

a img {
  border: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Quattrocento', serif;

  line-height: 1.5em;
  font-weight: normal;
  color: @colorSecondary;
  margin: .75em 0 .25em 0;
  padding: 0;

  a {
    color: @colorSecondary;

    &:hover {
      color: lighten(@colorSecondary, 15%)
    }
  }
}

h1 { font-size: 2.5em; }
h2 { font-size: 2.2em; }
h3 { font-size: 1.9em; }
h4 { font-size: 1.6em; }
h5 { font-size: 1.3em; }
h6 { font-size: 1em; }

article {
  margin-bottom: 1em;
}

p {
  margin-bottom: 1em;
}

hr {
  margin: 0 0 19px;
  border: 0;
  border-bottom: 1px solid #dfdfdf;
}

blockquote {
  padding: 13px 13px 21px 15px;
  margin-bottom: 18px;
  font-family:georgia,serif;
  font-style: italic;

  &:before {
    content:"\201C";
    font-size:40px;
    margin-left:-10px;
    font-family:georgia,serif;
    color:#eee;
  }

  p {
    font-size: 14px;
    font-weight: 300;
    line-height: 18px;
    margin-bottom: 0;
    font-style: italic;
  }
}

code, pre {
  font-family: Menlo, Monaco, Andale Mono, Courier New, monospace;
}

code {
  background-color: #eef3f9;
  border: 1px solid #dfdfdf;
  padding: 1px 3px;
  font-size: 12px;
  border-radius: 2px;
}

pre {
  display: block;
  padding: 14px;
  margin: 0 0 18px;
  line-height: 16px;
  font-size: 11px;
  border: 1px solid #dfdfdf;
  white-space: pre-wrap;
  word-wrap: break-word;
  background-color: #eef3f9;

  code {
    padding: 0;
    margin: 0;
    border: 0;
    background: transparent;
  }
}

table {
  margin-bottom: 1em;

  tr {
    th {
      text-align: left;
    }
  }
}

ul.horizontal {
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    float: left;
    margin: 0;
    padding: 0 0 0 .5em;
  }
}

.container {
  padding: 1em;
}

header {
  .logo {
    text-align: center;
    margin-bottom: 1em;

    img {
      width: 30%;
      min-width: @minWidth;
    }
  }

  .sharing {
    position: absolute;
    top: 1em;
    right: 1em;
  }

  .contact {
    position: absolute;
    top: 4em;
    right: 1em;

    p {
      font-size: 2em;
    }
  }

  .navigation {
    overflow: hidden;
    .border-radius();
    font-family: 'Quattrocento', serif;

    li {
      text-align: center;
      font-weight: bold;
      line-height: 2.25em;
      width: 25%;
      margin: 0;
      padding: 0;

      a {
        color: @colorTertiary;
        display: block;
        .linear-gradient(@colorBackground, 0%, @colorBackgroundFade, 100%);

        &:hover, &:focus {
          text-decoration: none;
          .linear-gradient(@colorBackgroundFade, 0%, @colorBackground, 100%);
        }
      }
    }
  }
}

article {
  overflow: auto;
}

section {
  &.preview {
    margin: 1em 0;

    img {
      float: left;
      margin-right: 1em;
      width: @minWidth;
    }
  }

  &.content {
    overflow: hidden;
  }

  img {
    .border-radius();
  }
}

#content {
  clear: both;
  padding-top: 1.5em;

  p {
    min-width: 25em;
    max-width: 33em;
  }
}

.gallery {
  position: relative;
  width: 100%;

  .slide {
    padding: .25em;
    width: 25%;
    min-width: @minWidth;
    max-width: @maxWidthThumb;

    img {
      width: 100%;
    }
  }
}

.posted {
  color: @colorTertiary;
  font-size: .8em;
}

footer {
  color: @colorTertiary;
  margin-top: 1em;
  font-size: .8em;
  text-align: center;
}
