extends layout

block content
  != page.html
  - var archive = _.chain(contents.articles._.directories).map(function(item) {
  -   return item.index
  - }).compact().sortBy(function(item) {
  -   return -item.date
  - }).groupBy(function(item) {
  -   return item.date.getFullYear()
  - }).value()
  - var map = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']

  section.archive
    each year in _.chain(archive).keys().reverse().value()
      h2= year

      - var months = _.groupBy(archive[year], function(item) { return map[item.date.getMonth()] })
      
      each articles, month in months
        h3= month

        ul
          each article in articles
            li
              a(href=article.url)= article.title
