extends layout

block prepend title
  | #{ page.title } - 

block append styles
  link(rel='stylesheet', href='/css/jquery.fancybox.css')

block append scripts
  script(src="/scripts/jquery.fancybox.js")
  script
    $('.slide').fancybox();
  
block content
  include author

  h2= page.title

  p.posted Posted on 
    mixin dateFormat(page.metadata.date) 
    | by 
    mixin author(page.metadata.author)
    |.

  article.post
    section!= page.html
  if page.metadata.gallery
    include gallery

    mixin gallery(page.metadata.gallery)
