mixin gallery(count, group)
  - group = group || 'gallery'

  section.gallery
    - for(i = 0; i < count; i++)
      a.slide.fresco(href="images/image" + (i < 9 ? '0' : '') + (i + 1) + '.jpg', data-fresco-group=group, data-fresco-group-options="ui: 'inside'")
        img(src="images/thumb" + (i < 9 ? '0' : '') + (i + 1) + '.jpg')
