!!! 5
html(lang='en')
  head
    block head
      meta(charset='utf-8')
      title
        block title
          = locals.name
      link(rel='alternate', href='/feed.xml', type='application/rss+xml', title=locals.description)
      link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Source+Sans+Pro|Quattrocento')
      link(rel='stylesheet', href='/css/styles.css')
      block styles

      script(type="text/javascript")
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-34394854-3']);
        _gaq.push(['_setSiteSpeedSampleRate', 100]);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
  body
    include author
    include dateFormat

    .container
      header
        .logo
          a(href="/")
            img(src="/images/RMPhotography.png", title="Randy Merrill Photography")
        .sharing
          ul.horizontal
            li: a.zocial.icon.googleplus(href="https://plus.google.com/114870301499667220446", data-category="link", data-action="click", data-value="Google+") On Google+
            li: a.zocial.icon.facebook(href="https://www.facebook.com/Randy.Merrill.Photography", data-category="link", data-action="click", data-value="Facebook") On Facebook
            li: a.zocial.icon.flickr(href="http://www.flickr.com/photos/zoramite/", data-category="link", data-action="click", data-value="Flickr") On Flickr
            li: a.zocial.icon.rss(href="/feed.xml", data-category="link", data-action="click", data-value="RSS") Subscribe to RSS
        .contact
          p: a(href="tel:14353634780", data-category="link", data-action="click", data-value="Telephone") 435.363.4780
        .navigation
          ul.horizontal
            li: a(href="/") Home
            li: a(href="/archive.html") Archives
            li: a(href="/appointment.html") Appointments
            li: a(href="/gear.html") Gear
            li: a(href="/pricing.html") Pricing
      #content
        block content
          section!= page.html
      footer
        div.inner
          block footer
            p &copy; #{ new Date().getFullYear() } 
              a(href="#{ locals.url }") Randy Merrill Photography
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js")
    script(src="/scripts/jquery.freetile.js")
    script(src="/scripts/jquery.site.js")
    block scripts
