mixin gallery(count, page, perPage)
  - page = page || 1
  - perPage = perPage || 25
  - start = (page - 1) * perPage
  - end = Math.min(count, start + perPage)
  - countLen = (count + '').length
  section.walletGallery
    - var lastLen = 0
    - var zeroFill = ''
    - for(i = start; i < end; i++)
      - var iLen = ((i + 1) + '').length
      - if(iLen != lastLen)
        - lastLen = iLen
        - zeroFill = ''
        - for(j = 0; j < (countLen - lastLen); j++)
          - zeroFill += '0'
      .product.row
        .half
          a.slide.fresco(href="images/image" + zeroFill + (i + 1) + '.jpg', data-fresco-group="wallet", data-fresco-group-options="ui: 'inside'")
            img.product-image(src="images/thumb" + zeroFill + (i + 1) + '.jpg')
        .half
          input.product-title(type="hidden", value="Print #" + (i + 1))
          input.product-price(type="hidden", value="1.25")
          select.product-attr-custom
            option(value="4x6", googlecart-set-product-price="1.25", selected="selected") 4x6 - $1.25
            option(value="5x7", googlecart-set-product-price="1.95") 5x7 - $1.95
            option(value="8x10", googlecart-set-product-price="3.50") 8x10 - $3.50
            option(value="File", googlecart-set-product-price="5.00") File with Print Rights - $5.00
          .googlecart-add-button(tabindex="0", role="button", title="Add to cart")
