extends layout

block prepend title
  | #{ page.title } - 

block append styles
  link(rel='stylesheet', href='/css/fresco.css')

block append scripts
  script(src="/scripts/fresco.js")
  script(id="googlecart-script", type="text/javascript", src="https://checkout.google.com/seller/gsc/v2_2/cart.js?mid=818615893219264", currency="USD")

block content
  include author

  h2= page.title

  p.posted Posted on 
    mixin dateFormat(page.metadata.date) 
    | by 
    mixin author(page.metadata.author)
    |.

  article.post
    section!= page.html
  if page.metadata.gallery
    include walletGallery
    include pagination
    mixin gallery(page.metadata.gallery, page.metadata.onPage, page.metadata.perPage)
    mixin pagination(page.url, page.metadata.gallery, page.metadata.onPage, page.metadata.perPage)
